Repository Vijay431/lambda-layer-packager: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, prettier --fix .

hotfix: readme.md update
  .github/workflows/publish.yml
  README.md
  package.json
  src/commands/package.ts
Due: eslint, prettier --fix .

chore: cleanup and validation fixes
  .eslintignore
  .eslintrc
  .github/PULL_REQUEST_TEMPLATE.md
  .github/dependabot.yml
  .github/labeler.yml
  .github/pull_request_template.md
  .github/templates/PULL_REQUEST_TEMPLATE.md
  .github/workflows/labeler.yml
  .github/workflows/publish.yml
  .github/workflows/pull-request.yml
  .github/workflows/release.yml
  .gitignore
  .husky/pre-commit
  .lintstagedrc
  .npmignore
  .npmrc
  .prettierignore
  .prettierrc
  LICENSE
  README.md
  package-lock.json
  package.json
  src/assets/icons/icon.png
  src/assets/icons/logo.jpg
  src/assets/json/cli.json
  src/assets/json/index.ts
  src/commands/commands.ts
  src/commands/index.ts
  src/commands/package.ts
  tsconfig.eslint.json
  tsconfig.json
Due: eslint, prettier --fix .

fixes
  .husky/pre-commit
  package.json
Due: prettier --fix .

lint: fixes
  .eslintrc
  .github/dependabot.yml
  .github/labeler.yml
  .github/pull_request_template.md
  .github/workflows/labeler.yml
  .github/workflows/release.yml
  src/assets/json/cli.json
  src/assets/json/index.ts
  src/commands/commands.ts
  src/commands/index.ts
  src/commands/package.ts
  tsconfig.eslint.json
Due: eslint, prettier --fix .

fixes
  .github/workflows/publish.yml
  .github/workflows/release.yml
  .lintstagedrc
  package.json
Due: prettier --fix .

2.3.1
  .github/workflows/labeler.yml
  .github/workflows/publish.yml
  .github/workflows/pull-request.yml
  package-lock.json
  package.json
Due: prettier --fix .

ci: pr github config updation
  .github/workflows/pull-request.yml
Due: none

npm fixes
  .eslintignore
  .github/workflows/publish.yml
  .gitignore
  .npmignore
  .prettierignore
  package.json
  tsconfig.json
Due: prettier --fix .

2.3.2
  package-lock.json
  package.json
Due: prettier --fix .

fixes
  .github/workflows/publish.yml
  .npmrc
  package.json
Due: prettier --fix .

release notes
  .github/workflows/publish.yml
Due: none

2.3.3
  package-lock.json
  package.json
Due: prettier --fix .

chore: README.md and commands updation
  README.md
  package-lock.json
  package.json
  src/commands/commands.ts
  src/commands/package.ts
  src/types/common.ts
  src/utils/utils.ts
  tsconfig.json
Due: eslint, prettier --fix .

2.3.4
  package-lock.json
  package.json
Due: prettier --fix .

chore: cleanup and fixes
  .eslintignore
  .github/dependabot.yml
  .github/labeler.yml
  .github/workflows/labeler.yml
  .github/workflows/publish.yml
  .github/workflows/pull-request.yml
  .gitignore
  .lintstagedrc
  .npmignore
  .prettierignore
  .prettierrc
  LICENSE
  README.md
  bin/packager
  package-lock.json
  package.json
  src/assets/json/cli.json
  src/assets/json/index.ts
  src/commands/commands.ts
  src/commands/index.ts
  src/commands/package.ts
  src/types/common.ts
  src/utils/utils.ts
  tsconfig.cjs.json
  tsconfig.eslint.json
  tsconfig.json
Due: eslint, prettier --fix .

chore: cleanup and fixes
  package.json
  src/commands/package.ts
Due: eslint, prettier --fix .

fix: package scripts fixes
  .github/workflows/publish.yml
  .npmignore
  bin/packager
  package-lock.json
  package.json
Due: prettier --fix .

2.3.5
  .github/labeler.yml
  .github/workflows/publish.yml
  .gitignore
  .npmignore
  package-lock.json
  package.json
Due: prettier --fix .

chore: cleanup and fixes
  .github/workflows/publish.yml
  .npmignore
  package.json
Due: prettier --fix .

2.3.6
  package-lock.json
  package.json
Due: prettier --fix .

Path conditions:
  eslint: any of: *.ts
  prettier --fix .: (any of: *.ts) or (any of: *.json)
